* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
li {
	list-style: none;
}

body {
	color: #c7c7c7;
}

.music-player-container {
	display: flex;
	padding: 1.4em;
	padding-top: 2em;
	background-color: #333;
	justify-content: space-between;
	align-items: center;
	font-size: 62.5%;
}

.music-player {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.4em;
	flex-grow: 1;
}

.music-player-actions {
	ul {
		display: flex;
		align-items: center;
		gap: 1.4em;
	}

	button {
		background: none;
		border: none;
	}

	.fas {
		color: #c7c7c7;
		font-size: 1.6em;
	}

	.btn-play-pause .fas {
		font-size: 2.4em;
	}
}

.progress-wrapper,
.volume-wrapper {
	padding: 5px 0;
	cursor: pointer;
}
.progress-wrapper {
	width: 90%;
}

.progress-container,
.music-progress {
	height: 5px;
	width: 100%;
	border-radius: 2.5px;
	background-color: #c7c7c7;
}
.music-progress {
	width: 0;
	background-color: #0f0;
	position: relative;

	&::after {
		content: "";
		width: 15px;
		height: 15px;
		background-color: #fff;
		border-radius: 50%;
		position: absolute;
		right: 0;
		transform: translate(50%, -32%);
	}
}

.volume-wrapper {
	position: relative;

	&:hover .volume-bar::before {
		content: attr(data-volume);
		position: absolute;
		top: -3em;
		right: 0;
		transform: translateX(50%);
		background-color: #333;
		color: #fff;
		padding: 0.5em;
		border-radius: 0.5em;
	}
}

.volume-container,
.volume-bar {
	height: 4px;
	width: 10em;
	border-radius: 2.5px;
	background-color: #c7c7c7;
}

.volume-bar {
	width: 23%;
	background-color: #fff;
	position: relative;

	&::after {
		content: "";
		width: 10px;
		height: 10px;
		background-color: #fff;
		border-radius: 50%;
		z-index: 50;
		position: absolute;
		right: 0;
		transform: translate(50%, -32%);
	}
}

/* SWITCH PLAY / PAUSE BUTTONS */

.music-player[data-playing="true"] .fa-play {
	display: none;
}

.music-player[data-playing="false"] .fa-pause {
	display: none;
}
