@font-face {
    font-family: 'Spotify Circular'; /* Nome che userai nel CSS */
    src: url('./../fonts/CircularStd-Black.otf') format('opentype'); /* Percorso e formato del font */
    font-style: normal; /* Puoi specificare lo stile (normal, italic, etc.) */
  }

  main{
    font-family: 'Spotify Circular', sans-serif;
  }

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #1B1B1B;
    border-radius: 5px;
    padding: 5px 10px;
    width: 90%; /* Adatta la larghezza */
    background-color: #1B1B1B;
    margin: 0 auto; /* Centra l'elemento */
  }

  /* Icona lente */
  .search-bar img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  /* Campo di input */
  .search-bar input {
    border: none;
    outline: none;
    flex: 1; /* Occupa tutto lo spazio rimanente */
    font-size: 16px;
    background-color: transparent;
    color: white;
  }

  /* Stile per il testo segnaposto */
  .search-bar input::placeholder {
    color: #aaa;
  }

  /* Nascondi la barra di ricerca per default */
  .search-bar {
    display: none;
  }

  /* Mostra solo su dispositivi piccoli e medi */
  @media (max-width: 992px) {
    .search-bar {
      display: flex;
    }
  }

  i{
    color: white;
  }

  .rectangle {
    background-color: #f8f9fa; /* Colore di sfondo */
    border-radius: 5px; /* Angoli arrotondati */
    padding: 20px; /* Spaziatura interna */
    text-align: center; /* Allineamento del testo */
    height: 110px; /* Altezza fissa */
}

/* Modifica l'altezza per dispositivi xs (larghezza < 576px) */
@media (max-width: 575.98px) {
    .rectangle {
        height: 100px; /* Altezza modificata per dispositivi xs */
    }


}

.results-container {
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.8); /* Sfondo scuro */
  color: white;
  max-height: 300px;  /* Altezza massima per mantenere lo scroll */
  overflow-y: auto;   /* Abilita lo scroll verticale se necessario */
  border-radius: 5px; /* Angoli arrotondati */
  padding: 10px;      /* Spaziatura interna */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Ombra */
  width: 90%;         /* Larghezza responsiva */
  max-width: 800px;   /* Limite massimo per grandi schermi */
  position: relative; /* Allineamento */
  z-index: 1;
  margin: 0 auto;     /* Centra il contenitore */

}

.results-container p {
  margin: 0;
  padding: 5px;
  cursor: pointer;
}

.results-container p:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Colore di hover */
}
